/.classpath
/.externalToolBuilders
/.project
/.settings
/bin
src/.classpath
src/.externalToolBuilders
src/.project
src/.settings
src/META-INF
src/classes
src/src
src/summary.txt
/target
*.iml
/build/
/.gradle/
/.nb-gradle/